<ul ng-controller="navCtrl">
        <li>Purchase Portage</li>
        <li><a href="/#!/invoices/add">Add Invoices</a></li>
        <li><a href="/#!/schedule/delivery">Schedule Deliveries</a></li>
        <li><a href="/#!/calendar/setup">Calendar setup</a></li>
        <!-- <li><span ng-include="'app/navigation/partials/search.html'"></span></li> -->
    
        <li class="align-right">
            <span ng-if="isAuthenticated()">
                <a href="#" ng-click="logout()">Logout</a>
            </span>
            <span ng-if="!isAuthenticated()"></span>
        </li>
    </ul>