<article class="bg-primary container-fluid">
    <ul ng-controller="navCtrl" class="pager list-inline bg-primary">
        <li>
            <h1>Purchase Portage</h1>
        </li>
        <li>
            <a href="/#!/invoices/add">Add Invoices
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </li>
        <li>
            <a href="/#!/schedule/main">Schedule
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </li>
        <!-- <li>
            <a href="/#!/calendar/setup">Calendar Setup
                <span class="glyphicon glyphicon-calendar"></span>
            </a>
        </li> -->
        <!-- <li><span ng-include="'app/navigation/partials/search.html'"></span></li> -->

        <li class="next">
            <span ng-if="isAuthenticated()">
                <a href="#" ng-click="logout()">Logout
                    <span class="text-warning glyphicon glyphicon-log-out"></span>
                </a>
            </span>
            <span ng-if="!isAuthenticated()"></span>
        </li>
    </ul>
</article>