<h1>SCHEDULE DELIVERY</h1>

<div>
    <div class="bg-info container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 panel panel-primary">
                <div class=" bg-primary panel-body">
                    <h3 class="bg-primary text-center">{{ focusInvoice.firstName }} {{ focusInvoice.lastName }}</h3>
                    <p class="bg-primary">Invoice #: {{ focusInvoice.invoiceNum }} Purchase Date: {{ focusInvoice.purchaseDate }}</p>
                    <p class="bg-primary">{{ focusInvoice.street }}</p>
                    <p class="bg-primary">{{ focusInvoice.city }} {{ focusInvoice.state }}, {{ focusInvoice.zip }}</p>
                    <!-- Would like to format the displayed phone to (XXX) XXX-XXXX -->
                    <p class="bg-primary">Best Phone #: {{ focusInvoice.phone }}</p>
                    <p class="bg-primary">Best Email Address: {{ focusInvoice.email }}</p>
                    <!-- Would like to format the displayed labor time to XX hours XX minutes -->
                    <p class="bg-primary">Estimated Delivery Installation Labor Time: {{ focusInvoice.labor }}</p>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="bg-danger container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3>{{ date.dayOfWeek }} {{ date.month }} {{ date.day }}, {{ date.year }}
                    <br>Delivery Itinerary</h3>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-body">
                        <ul class="list-unstyled">Select the desired arrival time for the delivery.
                            <li id="slot1" ng-mouseenter="brightLabor(1)" ng-click="bookDelivery(1)" class="list-unstyled">08:00am - 08:15am</li>
                            <li id="slot2" ng-mouseenter="brightLabor(2)" ng-click="bookDelivery(2)" class="list-unstyled">08:15am - 08:30am</li>
                            <li id="slot3" ng-mouseenter="brightLabor(3)" ng-click="bookDelivery(3)" class="list-unstyled">08:30am - 08:45am</li>
                            <li id="slot4" ng-mouseenter="brightLabor(4)" ng-click="bookDelivery(4)" class="list-unstyled">08:45am - 09:00am</li>
                            <li id="slot5" ng-mouseenter="brightLabor(5)" ng-click="bookDelivery(5)" class="list-unstyled">09:00am - 09:15am</li>
                            <li id="slot6" ng-mouseenter="brightLabor(6)" ng-click="bookDelivery(6)" class="list-unstyled">09:15am - 09:30am</li>
                            <li id="slot7" ng-mouseenter="brightLabor(7)" ng-click="bookDelivery(7)" class="list-unstyled">09:30am - 09:45am</li>
                            <li id="slot8" ng-mouseenter="brightLabor(8)" ng-click="bookDelivery(8)" class="list-unstyled">09:45am - 10:00am</li>
                            <li id="slot9" ng-mouseenter="brightLabor(9)" ng-click="bookDelivery(9)" class="list-unstyled">10:00am - 10:15am</li>
                            <li id="slot10" ng-mouseenter="brightLabor(10)" ng-click="bookDelivery(10)" class="list-unstyled">10:15am - 10:30am</li>
                            <li id="slot11" ng-mouseenter="brightLabor(11)" ng-click="bookDelivery(11)" class="list-unstyled">10:30am - 10:45am</li>
                            <li id="slot12" ng-mouseenter="brightLabor(12)" ng-click="bookDelivery(12)" class="list-unstyled">10:45am - 11:00am</li>
                            <li id="slot13" ng-mouseenter="brightLabor(13)" ng-click="bookDelivery(13)" class="list-unstyled">11:00am - 11:15am</li>
                            <li id="slot14" ng-mouseenter="brightLabor(14)" ng-click="bookDelivery(14)" class="list-unstyled">11:15am - 11:30am</li>
                            <li id="slot15" ng-mouseenter="brightLabor(15)" ng-click="bookDelivery(15)" class="list-unstyled">11:30am - 11:45am</li>
                            <li id="slot16" ng-mouseenter="brightLabor(16)" ng-click="bookDelivery(16)" class="list-unstyled">11:45am - 12:00pm</li>
                            <li id="slot17" ng-mouseenter="brightLabor(17)" ng-click="bookDelivery(17)" class="list-unstyled">12:00pm - 12:15pm</li>
                            <li id="slot18" ng-mouseenter="brightLabor(18)" ng-click="bookDelivery(18)" class="list-unstyled">12:15pm - 12:30pm</li>
                            <li id="slot19" ng-mouseenter="brightLabor(19)" ng-click="bookDelivery(19)" class="list-unstyled">12:30pm - 12:45pm</li>
                            <li id="slot20" ng-mouseenter="brightLabor(20)" ng-click="bookDelivery(20)" class="list-unstyled">12:45pm - 01:00pm</li>
                            <li id="slot21" ng-mouseenter="brightLabor(21)" ng-click="bookDelivery(21)" class="list-unstyled">01:00pm - 01:15pm</li>
                            <li id="slot22" ng-mouseenter="brightLabor(22)" ng-click="bookDelivery(22)" class="list-unstyled">01:15pm - 01:30pm</li>
                            <li id="slot23" ng-mouseenter="brightLabor(23)" ng-click="bookDelivery(23)" class="list-unstyled">01:30pm - 01:45pm</li>
                            <li id="slot24" ng-mouseenter="brightLabor(24)" ng-click="bookDelivery(24)" class="list-unstyled">01:45pm - 02:00pm</li>
                            <li id="slot25" ng-mouseenter="brightLabor(25)" ng-click="bookDelivery(25)" class="list-unstyled">02:00pm - 02:15pm</li>
                            <li id="slot26" ng-mouseenter="brightLabor(26)" ng-click="bookDelivery(26)" class="list-unstyled">02:15pm - 02:30pm</li>
                            <li id="slot27" ng-mouseenter="brightLabor(27)" ng-click="bookDelivery(27)" class="list-unstyled">02:30pm - 02:45pm</li>
                            <li id="slot28" ng-mouseenter="brightLabor(28)" ng-click="bookDelivery(28)" class="list-unstyled">02:45pm - 03:00pm</li>
                            <li id="slot29" ng-mouseenter="brightLabor(29)" ng-click="bookDelivery(29)" class="list-unstyled">03:00pm - 03:15pm</li>
                            <li id="slot30" ng-mouseenter="brightLabor(30)" ng-click="bookDelivery(30)" class="list-unstyled">03:15pm - 03:30pm</li>
                            <li id="slot31" ng-mouseenter="brightLabor(31)" ng-click="bookDelivery(31)" class="list-unstyled">03:30pm - 03:45pm</li>
                            <li id="slot32" ng-mouseenter="brightLabor(32)" ng-click="bookDelivery(32)" class="list-unstyled">03:45pm - 04:00pm</li>
                            <li id="slot33" ng-mouseenter="brightLabor(33)" ng-click="bookDelivery(33)" class="list-unstyled">04:00pm - 04:15pm</li>
                            <li id="slot34" ng-mouseenter="brightLabor(34)" ng-click="bookDelivery(34)" class="list-unstyled">04:15pm - 04:30pm</li>
                            <li id="slot35" ng-mouseenter="brightLabor(35)" ng-click="bookDelivery(35)" class="list-unstyled">04:30pm - 04:45pm</li>
                            <li id="slot36" ng-mouseenter="brightLabor(36)" ng-click="bookDelivery(36)" class="list-unstyled">04:45pm - 05:00pm</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>