<h1>SCHEDULE DELIVERY</h1>

<div>
    <h3>{{ invoice.firstName }} {{ invoice.lastName }}</h3>   
    <p>Invoice #: {{ invoice.invoiceNum }} Purchase Date: {{ invoice.purchaseDate }}</p>
    <p>{{ invoice.street }}</p>
    <p>{{ invoice.city }} {{ invoice.state }}, {{ invoice.zip }}</p>
    <p>Best Phone #: {{ invoice.phone }}</p>
    <p>Best Email Address: {{ invoice.email }}</p>
    <p>Estimated Delivery Installation Labor Time: {{ invoice.labor }}</p>
</div>

<div>
    Select the how far out to display availability: <input type="date" ng-model="endDate">
    <p>Days with large enough gaps in the schedule to accomodate this delivery between {{ tomorrow.weekDay }} {{ tomorrow.month }} {{tomorrow.dayNumber }}, {{ tomorrow.year }} and {{ searchEnd.month }} {{ searchEnd.dayNumber }}, {{ searchEnd.year }}:</p>
</div>
<div ng-repeat="day in days">
        <a href="#">{{ day.dayOfWeek }} {{ day.month }} {{ day.dayNumber }} {{ day.year }}</a>
</div>